@model e_okul.Models.Notlar

@{
    ViewData["Title"] = "Edit";
}

<h1>Güncelleme</h1>

<h4>Notlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotId" />
            <div class="form-group">
                <label asp-for="OgrId" class="control-label"></label>
                <select asp-for="OgrId" class="form-control" asp-items="ViewBag.OgrId"></select>
                <span asp-validation-for="OgrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DersId" class="control-label"></label>
                <select asp-for="DersId" class="form-control" asp-items="ViewBag.DersId"></select>
                <span asp-validation-for="DersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgretmenId" class="control-label"></label>
                <select asp-for="OgretmenId" class="form-control" asp-items="ViewBag.OgretmenId"></select>
                <span asp-validation-for="OgretmenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AraSinav" class="control-label"></label>
                <input asp-for="AraSinav" class="form-control" />
                <span asp-validation-for="AraSinav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Final" class="control-label"></label>
                <input asp-for="Final" class="form-control" />
                <span asp-validation-for="Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ortalama" class="control-label"></label>
                <input asp-for="Ortalama" class="form-control" />
                <span asp-validation-for="Ortalama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HarfId" class="control-label"></label>
                <select asp-for="HarfId" class="form-control" asp-items="ViewBag.HarfId"></select>
                <span asp-validation-for="HarfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-outline-info" >Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
