@model e_okul.Models.Bolum

@{
    ViewData["Title"] = "Create";
}

<h1>Ekleme sayfası</h1>

<h4>Bolum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BolumAdi" class="control-label"></label>
                <input asp-for="BolumAdi" class="form-control" />
                <span asp-validation-for="BolumAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-outline-info" >Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
