@model e_okul.Models.Bolum

@{
    ViewData["Title"] = "Details";
}

<h1>Detay Sayfası</h1>

<div>
    <h4>Bolum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BolumAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BolumAdi)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.BolumId">Güncelle</a> |
    <a asp-action="Index"class="btn btn-outline-info" >Geri Dön</a>
</div>
